<div ng-cloak>
    <md-content layout="column">
        <md-card-title>
            <div flex layout="column" >
                <span class="md-headline">{{vm.profile.username}}</span>
                <span>{{vm.profile.mood}}</span>
                <span>{{vm.profile.email}}</span>
                <img ng-src="{{vm.urlBase}}/containers/files/download/{{vm.profile.avatar}}"  height="200" width="200" class="md-media-lg card-media"/>
            </div>
        </md-card-title>
    </md-content>
</div>